.App {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-areas: "form preview";
  flex: 1;
  padding: 2rem;
  gap: 1rem;
}
