.header {
  background: #48cae4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 6rem;
  box-shadow: 2px 3px 5px 0 rgb(72, 202, 228, 0.3);
}

.branding {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-logo {
  height: 40px;
  width: 40px;
}

.header-title {
  color: #ffffff;
  text-align: center;
}

.download-link {
  text-decoration: none;
}

.download-link button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.9rem;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 1px 10px 0px rgba(255, 255, 255, 0.2);
}

.download-link button:hover {
  transform: translate(-2.5px, -2.5px);
  box-shadow: 2.5px 2.5px lightgrey;
}

.download-link button:active {
  transform: translate(2.5px, 2.5px);
  box-shadow: 2.5px 2.5px lightgrey;
}