.Preview {
  grid-area: preview;
  height: 100%;
  border-radius: 10px;
  border: 2px solid lightgray;
  width: 100%;
}

.pdf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(144, 224, 239);
  width: 100%;
  max-width: 100%;
}

.pdf-navigation {
  padding-block: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.page-indicator {
  font-weight: 600;
  font-size: clamp(0.5rem, 1.2vw + 0.3rem, 1rem);
}

.nav-button {
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #48cae4;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  font-weight: 500;
  transition: background-color 0.3s ease;
  font-size: clamp(0.5rem, 1.2vw + 0.3rem, 1rem);
}


.nav-button:hover {
  background-color: #00b4d8;
}