.Preview {
  grid-area: preview;
  height: 100%;
  border-radius: 10px;
  border: 2px solid lightgray;
}

.pdf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(144, 224, 239);
}

.pdf-navigation {
  padding-block: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.pdf-navigation button {
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #48cae4;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.pdf-navigation button:hover {
  background-color: #00b4d8;
}
