.personal-info-section,
.education-section {
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 3px solid rgb(144, 224, 239);
  border-radius: 10px;
  box-shadow: 2px 3px 5px 0 rgb(144, 224, 239, 0.1);
}

.personal-info-section h2,
.education-section h2 {
  cursor: pointer;
  text-align: center;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.icon {
  height: 30px;
  width: 30px;
  margin-top: 3px;
  transition: transform 0.5s ease;
  margin-left: 1rem;
}

.icon.open {
  transform: rotate(180deg);
}

.icon.closed {
  transform: rotate(0deg);
}

.dropdown {
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.dropdown.open {
  max-height: 500px;
}

.dropdown.closed {
  max-height: 0;
}

form {
  padding: 0rem 1rem 1rem 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.form-group label {
  padding-left: 5px;
}

.form-group input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgb(248, 246, 246);
  line-height: 1;
}

.inline-group {
  display: flex;
  gap: 5px;
}

/* Edu List */

.education-list-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0rem 1rem 1rem 1rem;
}

.education-list {
  margin: 0 0 1rem;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education-entry {
  background-color: #caf0f8;
  border-radius: 8px;
  padding-left: 1rem;
  cursor: pointer;
}

/* Buttons */

.form-btn-group {
  display: flex;
  gap: 0.5rem;
}

.add-btn {
  align-self: flex-start;
}

.save-btn,
.delete-btn,
.cancel-btn,
.add-btn {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #48cae4;
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  cursor: pointer;
  color: white;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.save-btn:hover,
.add-btn:hover {
  background-color: #00b4d8;
}

.delete-btn {
  background-color: #f11365;
}

.delete-btn:hover {
  background-color: #d81159;
}

.cancel-btn {
  background-color: #ffd60a;
}

.cancel-btn:hover {
  background-color: #ffc300;
}
